{% extends 'edc_model_admin/admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{% static 'flourish_child/css/immunization_history.css' %}">
    <style>
    	.overlay {
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    position: fixed;
		    background: rgba(0, 0, 0, 0.1);
		}

		.overlay__inner {
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		}

		.overlay__content {
		    left: 50%;
		    position: absolute;
		    top: 50%;
		    transform: translate(-50%, -50%);
		}

		.spinner {
		    width: 75px;
		    height: 75px;
		    display: inline-block;
		    border-width: 4px;
		    border-color: rgba(0, 0, 0, 0.2);
		    border-top-color: #fff;
		    animation: spin 1s infinite linear;
		    border-radius: 100%;
		    border-style: solid;
		}

		@keyframes spin {
		  100% {
		    transform: rotate(360deg);
		  }
		}

		.hide-loader {
			display:none;
		}	
    </style>
{% endblock %}

{% block content %}
{{block.super}}
	<div class='overlay hide-loader' id='loader'>
	    <div class='overlay__inner'>
	        <div class='overlay__content'>
	        	<span class='spinner'></span>
	        </div>
	    </div>
	</div>
{%endblock%}
{% block field_sets %}
    {% if birthvaccines %}
        <div class="col-md-12">
            <h2 class="header-text">Received Birth Vaccines</h2>
            <table style="width:98%">
                <thead>
                    <th>Visit Code</th>
                    <th>Vaccines since delivery</th>
                    <th>Date of vaccination</th>
                </thead>
                <tbody>
                    {% for key, values in birthvaccines.items %}
                        <tr>
                            <th rowspan={{ values|length|add:"1"}}>{{ key }}</th>
                        </tr>
                            {% for value in values %}
                                <tr>
                                    <td>
                                        {{ value.vaccination | default_if_none:""}}
                                    </td>
                                    <td>{{  value.vaccine_date | default_if_none:"" }}</td>
                                </tr>
                            {% endfor %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <br>
    {% endif %}
    {% if vaccinesreceived %}
        <div class="col-md-6">
            <h2 class="header-text">Received Vaccines</h2>
            <table style="width:98%">
                <tr>
                    <th>Visit Code</th>
                    <th>Vaccines Received</th>
                    <th>1st Dose Date</th>
                    <th>2nd Dose Date</th>
                    <th>3rd Dose Date</th>
                    <th>Booster Dose Date</th>
                </tr>
                {% for key, values in vaccinesreceived.items %}
                    <tr>
                        <th rowspan={{ values|length|add:"1"}}>{{ key }}</th>
                    </tr>
                    {% for value in values %}
                        <tr>
                            <td>
                                {{ value.received_vaccine_name }}
                            </td>
                            <td>
                                {{ value.first_dose_dt }}
                            </td>
                            <td>
                                {{ value.second_dose_dt }}
                            </td>
                            <td>
                                {{ value.third_dose_dt }}
                            </td>
                            <td>
                                {{ value.booster_dose_dt }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if vaccinesmissed %}
        <div class="col-md-6">
            <h2 class="header-text">Missed Vaccines</h2>
            <table style="width:98%">
                <tr>
                    <th>Visit Code</th>
                    <th>Vaccines Missed</th>
                    <th>Reason(s)</th>
                </tr>
                {% for key, values in vaccinesmissed.items %}
                    <tr>
                        <th rowspan={{ values|length|add:"1"}}>{{ key }}</th>
                    </tr>
                    {% for value in values %}
                        <tr>
                            <td>
                                {{ value.missed_vaccine_name }}
                            </td>
                            <td>
                                {% firstof value.reason_missed value.reason_missed_other %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if childprehospitalizationInline %}
        <div class="col-md-6">
            <h2 class="header-text">Recent Hospitalisation</h2>
            <table style="width:98%">
                <tr>
                    <th>Visit Code</th>
                    <th>Hospital Name</th>
                    <th>Reasons of Hospitalisation</th>
                    <th>Date of Hospitalisation</th>
                </tr>
                {% for key, values in childprehospitalizationInline.items %}
                    <tr>
                        <th rowspan={{ values|length|add:"1"}}>{{ key }}</th>
                    </tr>
                    {% for value in values %}
                        <tr>
                            {% if value.name_hospital_other %}
                                <td>
                                    {{ value.name_hospital }}:{{ value.name_hospital_other }}
                                </td>
                            {% else %}
                                <td>
                                    {{ value.name_hospital }}
                                </td>
                            {% endif %}
                            <td>
                                {{ value.reason_hospitalized.all | join:", " }},
                                    {{ value.surgical_reason|default_if_none:"" }},
                                    {{ value.name_hospital_other|default_if_none:"" }}
                            </td>
                            <td>
                                {{ value.aprox_date }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if vaccinesreceived or vaccinesmissed or childprehospitalizationInline %}
        <div class='clearfix'></div>
    {% endif %}
    {{ block.super }}
{% endblock field_sets %}


{% block submit_buttons_bottom %}
    {{ block.super }}
{% endblock %}
